{% extends 'generator/base.html' %}
{% load static %}

{% block nav %}
<ul>
    <li><a href="{% url 'home' %}" class="active">Générateur</a></li>
</ul>
{% endblock %}

{% block main %}
    <section id="intro" class="main">
        <div class="spotlight">
            <div class="content">
                <p>Vous souhaitez obtenir ce générateur de poème aléatoire ? Pas de soucis, il existe le logiciel, téléchargez-le !</p>

                <header class="major">
                    <h2>Sur Ordinateur</h2>
                </header>

                <h2>Sur Mac</h2>
                <p><a href="/static/generator/Poeme.zip" download="/static/generator/Poeme.zip" title="Télécharger Poème sur Mac">Télécharger Poème sur Mac</a></p>
                <p>Si une fois installé, vous avez une fenêtre avec écrit <br/><mark>« Poème » est endommagé et ne peut pas être ouvert.<br/>Vous devriez placer cet élément dans la Corbeille.</mark> <br/>Veuillez taper dans le terminal la commande suivante : <br/><span class="terminal">xattr -cr Downloads/Poème.app</span> <br/>(vous pouvez remplacer <mark>Downloads/Poème.app</mark> par le chemin de l'application)</p>

                <h2>Sur Linux</h2>
                <p>Disponible prochainement</p>

                <h2>Sur Windows</h2>
                <p>Disponible prochainement</p>

            </div>
        <span class="img_rond_ext"><span class="img_rond_int_gros"><img src="/static/generator/images/appareils.svg" alt="appareils" /></span></span>

        </div>
    </section>

{% endblock %}