{% extends 'generator/base.html' %}
{% load static %}

{% block nav %}
<ul>
    <li><a href="{% url 'home' %}" class="active">Générateur</a></li>
</ul>
{% endblock %}

{% block main %}
    <section id="intro" class="main">
        <div class="spotlight">
            <div class="content">
                <p>Vous souhaitez obtenir ce générateur de poème aléatoire ? Pas de soucis, il existe le logiciel, téléchargez-le !</p>

                <header class="major">
                    <h2>Sur Ordinateur</h2>
                </header>

                <h2>Sur Mac</h2>
                <p>Disponible prochainement</p>
                
                <h2>Sur Linux</h2>
                <p>Disponible prochainement</p>

                <h2>Sur Windows</h2>
                <p>Disponible prochainement</p>

            </div>
        <span class="img_rond_ext"><span class="img_rond_int_gros"><img src="/static/generator/images/appareils.svg" alt="appareils" /></span></span>

        </div>
    </section>

{% endblock %}