@import url('https://fonts.googleapis.com/css?family=Numans');

:root {
    --bg: #EFE7DD;
    --text: black;
    --head: #46B8BF;
    --text_box: white;
    --bg_box: white;
    --strong: #BAE8EB;
    --shadow: #1c1a19;
    --hover: #FCBC59;
    --link: white;
    --button: #90caf9;
}

p, li {
    font-size: 25px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

a {
    color: var(--text);
}

.photo_album {
 height: 200px;
}

html, body {
    background-color: var(--strong);
    font-family: 'Numans', sans-serif;
}

#logo {
    width: 100px;
    margin: 10px;
}

header h1 {
    vertical-align: middle;
    margin: auto;
    margin-left: 10px;
}

#dropdown li {
  display: inline-block;
  margin-right: 10px; /* ajoute une marge entre les liens */
    text-align: right;
}




header {
    top: 0%;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--head);
    display: flex;
    box-shadow: 0px 2px 5px var(--shadow);
}

header ul {
    margin: auto;
    margin-right: 10px;
    list-style-type: none;
    display: flex;
    float : right;
}

header li {
    margin-right: 7px;
    font-size: 30px;
    margin-left: 7px;
}

header li a {
    color: var(--link);
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--button);
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
}

.button:hover {
    background-color: var(--head);
}

.corps {
    margin: 50px;
    margin-top: 150px;
}

header h1 {
    color: white;
}

header li a:hover {
    color: var(--hover);
}

#menu{
    display: none;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.dropdown, #dropdown {
    display: block;ê
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-container {
width: 75%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    margin-left: 30px;
    width: 100%;
}

.image_orga {
    width: 250px;
}

#titre {
    margin-left: 5%;
    margin-right: 5%;
}

#image_home {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album_bc {
  display: flex;
  flex-wrap: wrap;
}

.album_bc img {
  margin-right: 5px;
}

.album {
  width: 30%;
  margin-bottom: 20px;
  text-decoration: none;
}

.album_link {
  text-decoration: none;
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover; /* ou object-fit: contain; */
}

.album_link{
    color: black;
    text-decoration: none;
}

.album_link:hover{
    color: var(--hover);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartMenu {
    //width: 100vw;
    height: 40px;
    background: white;
    color: rgba(255, 26, 104, 1);
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
}

.chartCard {
    margin-top: -100px;
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px lightgray;
    background: none;
}

form {
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

select {
  background-color: #FFF;
  border: 1px solid #ddd;
  color: #333;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 30px;
}

option {
  color: #333;
  font-size: 16px;
}

input[type="submit"], .button {
  background-color: var(--button);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

input[type="submit"]:hover, .button:hover {
  background-color: var(--head);
}

input[type="text"],
textarea {
    width: 97%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}


@media (max-width: 800px) {

    p, li {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    header {
        z-index: 1;
        width: 100%;
        width: 100%;
        background-color: var(--head);
        display: flex;
        box-shadow: 0px 2px 5px var(--shadow);
    }

    header h1 {
        font-size: 25px;
    }

    .corps {
        margin: 50px;
        margin-top: 150px;
        font-size: 15px;
    }

    .wrapper {
        flex-direction: column;
    }

    .image-container {
        flex: initial;
        order: 2;
        text-align: center;
        width: 100%;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .text-container {
        flex: initial;
        order: 1;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    form {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .album {
        width: 100%;
    }

    .chartBox {
        width: 90%;
        margin-left: -20px;
        margin-right : 80px;
        margin-top: -130px;
    }

    #menu{
        display: block;
        font-size: 25px;
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;
    }

    .photo_album {
        width: 100%;
        height: auto;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .menu ul {
        position: absolute;
        border-radius: 10px;
        top: 65%;
        right: 0;
        display: none;
        background-color: var(--head);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }

    .dropdown:hover > ul {
        display: block;
    }

    #dropdown {
        width: 180px;
    }

    .menu li {
        width: 100%;
        font-size: 25px;
    }

    .menu li a {
        padding-right: 10px;
    }

}